
@import '../../../styles/variables';

.ButtonTile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .button {

        width: 67%;

        + .button {
            margin-left: 0;
            margin-top: $small;
        }

        &:hover {
            background-color: $off-white;
            border-color: $dark-gray;
            color: $dark-gray;

            &.danger {
                // color: $danger-color;
                border-color: $danger-color;
                color: $off-white;
                background: $danger-color;
            }
        }
    }
}
