
@import '../../styles/variables';

.TabContainer {
    display: flex;
    flex-direction: column;

    > header {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 70vw;
        height: auto;
        font-size: $item-height;
        // padding-left: $large; // better without ?

        margin-bottom: calc(#{$item-height} + #{$large});

    }
    .bottom-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: $xxxx-large;

        .buttons-right {
            display: flex;

            a {
                + a {
                    margin-left: $small;
                }
            }
        }
    }
    .card {
        position: static;
        padding-bottom: $large;
    }
}
