@import "../../../styles/variables";

.Dropdown {
    margin: 0;
    cursor: default;

    .CollapsibleTitle {
        width: 100%;

        .title {
            position: relative;
            display: flex;
            align-items: center;

            .triangle-wrapper {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                left: $base-size;
                // right: $large;

                .triangle {
                    // opacity: 0;
                   @include triangle(9px, $medium-gray);
                }
            }
        }

        &.open {
            .title {
                .triangle {
                    // opacity: 1;
                    // border-right: 9px solid $off-white;
                    transform: rotate(90deg);
                }
            }
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: $item-height;

        > div,
        > a {
            margin: 0;
            padding: $text-size / 2 $large;
            display: flex;
            align-items: center;
            width: stretch;
            color: $medium-gray;
            text-decoration: none;
            &:hover {
                background: $dark-blue;
            }
            &:last-child {
                margin-bottom: $x-large;
            }
        }
    }
}
