
@import '../../styles/variables';

.ButtonTile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    button + button {
        margin-left: 0;
        margin-top: $small;
    }
}
