@import "../../../styles/variables";

.Pill {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 $xxxx-large;
    height: $item-height;

    // updated in componentDidMount
    opacity: 0;
    transition: opacity 0.3s ease;
    transition: background-color 0.1s ease;

    // border-width: $icon-thickness !important;
    border-radius: $pill-width;

    @include hoverable-background($light-gray);

    box-shadow: 2px 2px $xx-small rgba(74, 74, 74, 0.8);
    // @include two-colors($dark-gray, $light-gray, false);

    // &.empty:not(.selected) {
    //     // @include two-colors($selected-color, $off-white, false);
    //     border-color: $selected-color;
    //     // background: none;

    //     &:hover {
    //         background: $light-gray;
    //     }
    // }

    &:hover:not(.editing) {
        cursor: default;
        color: $off-white;
        font-weight: bold;

        .text-color {
            background: $off-white;
        }

        .delete,
        .edit {
            display: flex;
        }

        .ButtonTile {
            opacity: 1;
        }
    }

    &:hover,
    &.selected,
    &.danger,
    &.editing,
    &.empty,
    &.disabled {
        box-shadow: none;
    }

    &.selected {
        @include hoverable-background($selected-color);

        color: $off-white;
        font-weight: bold;
    }

    &.danger {
        @include hoverable-background($danger-color);

        color: $off-white;
        font-weight: bold;
    }

    &.editing,
    &.editing:hover {
        background: $selected-color;

        &:not(.tile) {
            padding: 0 $x-large;
        }
    }

    input {
        color: $off-white;
        border: none;
        margin: 0;
        width: 2rem;
        text-align: center;
        background: none;
    }

    button {
        position: absolute;
        // color: $dark-gray;

        &.drag {
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }

        &.edit {
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            margin: 0;
            height: $item-height * 0.75;
            display: none;
        }

        &.delete {
            top: 50%;
            right: $x-small;
            transform: translateY(-50%);
            margin: 0;
            height: $item-height * 0.75;
            display: none;
        }
    }

    &.align-left {
        justify-content: flex-start;

        input {
            text-align: left;
        }
    }

    &.with-button-tile {
        &:hover {
            .title {
                color: $light-gray;
            }

            .subtitle,
            .footer {
                opacity: 0;
            }

            &.editing {
                .title,
                .subtitle,
                .footer {
                    opacity: 1;
                }
            }
        }
    }

    .ButtonTile {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $small;

        button {
            position: static;
        }
    }

    h5,
    h6 {
        margin: 0;
    }

    &.tile {
        flex-direction: column;
        justify-content: space-between;
        height: $pill-width;
        width: $pill-width;
        border-radius: $x-small;
        // padding: $base-size;
        padding: $small;
        padding-bottom: $base-size;

        &.align-left {
            align-items: flex-start;
            justify-content: space-between;
        }

        
        > div {
            // overflow: hidden;
            max-width: 100%;
            max-height: 100%;

            .title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: bold;
                margin-bottom: $x-small;
            }
        }

        .footer {
            font-style: italic;
        }

        button {
            &.delete {
                top: 16px;
            }
        }

        input {
            padding: 0;
            height: $base-size;
            border-radius: 0;
        }
    }
}
