
@mixin selected {
    background: $selected-color;
    color: $off-white;
    box-shadow: none;
    &:hover {
        @include selected-hovered();
    }
}

@mixin selected-hovered {
    background: none;
    color: $selected-color;
    border: $icon-thickness solid $selected-color;
    input {
        color: $selected-color;
    }
}
