
@import './mixins';

// SIZES

$header-height: 75px;
$menu-height: 50px;
// $viewport-height: calc(100vh - 75px);
$sidebar-width: 250px;
// $viewport-width: calc(100vw - 17.5vw);

$item-height: 40px;
$pill-width: 200px;

// Colors
$danger-color: #D0021B;
$selected-color: #209CEE;
$action-color: #58BA48;

$off-white: #ECEFF1;
$pill-color: #C8C8C8;
$rule-color: #999999;
$dark-gray: #4a4a4a;

$light-blue: #4FC3F7;
$dark-blue: #262F3D;
$darker-blue: #19212B;


$xx-small: 0.25rem;
$x-small: 0.5rem;
$small: 0.75rem;
$base_size: 1rem;
$large: 1.25rem;
$x-large: 1.5rem;
$xx-large: 1.75rem;
$xxx-large: 2rem;
$xxxx-large: 2.25rem;

$text-size: $base_size;
$icon-thickness: .2rem;

$checkbox-height: $item-height / 2;

//Add SCSS mixins here
