 

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './variables';

button, input {
    border: none;
    outline: none;
    border-radius: $xx-small;
    // box-sizing: border-box;
    
    // &:focus {
    //     box-shadow: 0 0 3px 0.5px $selected-color;
    // }
    
    &.empty {
        border: 1px solid $dark-gray;
        color: $dark-gray;
        &:hover {
            border: 1px solid $off-white;
            color: $off-white;
            background: $dark-gray;
        }
            
        &.light {
            border: 1px solid $off-white;
            color: $off-white;
            &:hover {
                border: 1px solid $dark-gray;
                color: $dark-gray;
            }
        }
    }
}

button {
    background: none;
    // margin: $small;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $pill-width / 2;
    height: $item-height;
    font-size: $text-size;

    + button {
        margin-left: $small;
    }
    
    &.primary {
        color: $off-white;
        background: $action-color;
        &:hover {
            border: 1px solid $action-color;
            color: $action-color;
            background: none;
        }
    }
    &.danger {
        background: $warning-color;
        color: $off-white;
        &:hover {
            border: 1px solid $warning-color;
            color: $warning-color;
            background: none;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

input {
    border: 1px solid $border-color; //Ray changed
    height: $item-height; //Ray changed
    padding: 0 $small;
    // margin-right: $large; //Ray removed
    font-size: $text-size; //Ray added
}

input[type=number] {
    width: $pill-width / 3;
}

input[type=checkbox] {
    visibility: hidden;
}


html, #root, body {
    font-family: 'Roboto';
    font-size: $text-size; //Ray added
    font-weight: lighter;
}

html {
    details {
        outline: none;
        &:hover {
            cursor: default;
        }
        summary {
            outline: none;
        }
    }
}

a {
    text-decoration: none;
}

h5, h6 {
    margin-top: $med;
    margin-bottom: $x-small;
}
