@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './variables';

button, input {
    border: none;
    outline: none;
    border-radius: $xx-small;
    
    &.empty {
        border: 1px solid $dark-gray;
        // color: $dark-gray;
        &:hover {
            border: 1px solid $off-white;
            // color: $off-white;
            background: $dark-gray;
        }
            
        &.light {
            border: 1px solid $off-white;
            // color: $off-white;
            &:hover {
                border: 1px solid $dark-gray;
                // color: $dark-gray;
            }
        }
    }
}

button {

    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $item-height;
    width: $pill-width / 2;
    padding: 0 $small;
    font-size: $text-size;
    cursor: pointer;

    + button {
        margin-left: $small;
    }

    &:focus, &:focus-within {
        box-shadow: 0 0 1px 1px $selected-color;
    }

    // &.action, &.empty, &.danger, &.toggle-button {
    //     height: $item-height;
    //     width: fit-content;
    //     min-width: $pill-width / 2;
    //     padding: 0 $base_size;
    //     white-space: nowrap;
    // }
    
    // &.action {
    //     // color: $off-white;
    //     background: $action-color;
    //     &:hover {
    //         border: 1px solid $action-color;
    //         // color: $action-color;
    //         background: none;
    //     }
    //     &.empty {
    //         // color: $action-color;
    //         background: none;
    //         &:hover {
    //             border: 1px solid $off-white;
    //             // color: $off-white;
    //             background: $action-color;
    //         }
    //     }
    // }
    // &.danger {
    //     background: $danger-color;
        // color: $off-white;
    //     &:hover {
    //         border: 1px solid $danger-color;
            // color: $danger-color;
    //         background: none;
    //     }
    //     &.empty {
    //         border: 1px solid $danger-color;
            // color: $danger-color;
    //         background: none;
    //     }
    // }
}

input {
    border: 1px solid $dark-gray;
    height: $item-height;
    width: $pill-width;
    padding: 0 $small;
    font-size: $text-size;
}

input[type=number] {
    width: $pill-width / 3;
    &::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
        -webkit-appearance: none;
    }
}

input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
}


html, #root, body {
    font-family: 'Roboto';
    font-size: $text-size;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: inherit;
}
