 

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './variables';

button, input {
    border: none;
    outline: none;
    padding: $xx-small $small;
    border-radius: $xx-small;
    // box-sizing: border-box;
    
    // &:focus {
    //     box-shadow: 0 0 3px 0.5px $selected-color;
    // }
    
    &.empty {
        border: 1px solid $dark-gray;
        color: $dark-gray;
        
        &.light {
            border: 1px solid white;
            color: white;
        }
    }
}

button {
    background: none;
    margin: $small;
    
    &.primary {
        background: $action-color;
        color: white;
    }
    &.danger {
        background: red;
        color: white;
    }

    &:hover {
        cursor: pointer;
    }
}

input {
    border: 1px solid $border-color; //Ray changed
    height: $item-height; //Ray changed
    // margin-right: $large; //Ray removed
    font-size: $text-size; //Ray added

}

input[type="number"] {
    width: $pill-width / 3;
}

input[type=checkbox] {
    visibility: hidden;
}


html, #root, body {
    font-family: 'Roboto';
    font-size: $text-size; //Ray added
    font-weight: lighter;
}

html {
    details {
        outline: none;
        &:hover {
            cursor: default;
        }
        summary {
            outline: none;
        }
    }
}

a {
    text-decoration: none;
}

h5, h6 {
    margin-top: $med;
    margin-bottom: $x-small;
}
