
@import '../../styles/variables';

.Wizard {
    header {
        display: flex;
        justify-content: space-between;
    }
    .bottom-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: $large;

        button {
            margin: 0;
        }

        .buttons-right {
            button + button {
                margin-left: $small;
            }
        }
    }
}
