
@import '../../styles/variables';

.Wizard {
    display: flex;
    flex-direction: column;

    > header {
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 70vw;
        height: auto;
        font-size: $item-height;
        // padding-left: $large; // better without ?

        margin-bottom: calc(#{$item-height} + #{$large});

        .title-buttons {
            display: flex;
        }

    }
    .bottom-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: $xxxx-large;

        .buttons-right {
            display: flex;

            a {
                + a {
                    margin-left: $small;
                }
            }
        }
    }
    .card {
        position: static;
        padding-bottom: $large;

        .tab-container {
            .tab {
                // border: 1px solid black;
                padding: $x-small;
                border-radius: $xx-small;
                color: black;

                &.current-tab {
                    background: $current-color;
                    // color: $off-white;
                }
            }
        }
    }
}
