@import "../../../styles/variables";

.Select {
    width: $pill-width;
    position: relative;
    max-width: $pill-width;
    min-width: $pill-width;

    .label {
    }

    .select-input {
        position: relative;

        + .select-options {
            display: none;
        }

        &:focus {
            + .select-options {
                position: absolute;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                z-index: 10;

                .select-option {
                    height: $xxx-large;
                    width: $pill-width;
                    display: flex;
                    align-items: center;
                    padding: 0 $x-small;
                    background: white;
                    border: 1px solid $light-gray;

                    + .select-option {
                        border-top: none;
                    }

                    &:first-child {
                        border-top-left-radius: $xx-small;
                        border-top-right-radius: $xx-small;
                    }

                    &:last-child {
                        border-bottom-left-radius: $xx-small;
                        border-bottom-right-radius: $xx-small;
                    }

                    &.selected {
                        background: $selected-color;
                        color: $off-white;
                    }
                }
            }
        }
    }
}
