
@import '../../styles/variables';

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    .Modal {
        min-width: 30%;
        min-height: 30%;
        max-width: 80%;
        max-height: 80%;
        width: 55%;
        border-radius: $xx-small;
        box-shadow: $xx-small $xx-small $x-small $dark-gray;
        background: $card-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $large;
        
        .HeadedContainer {
            header {
                border-bottom-color: $border-color;
            }
            
            .HeadedListContainer {
                margin-left: 0;
                margin-right: 0;
                
                header, .content {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
            
        .modal-buttons {
            display: flex;
            justify-content: space-between;
            
            span {
                display: flex;
            }
        }
    }

    &.hidden {
        display: none;
    }
}
