@import "../../../styles/variables";

.Toggle {
    display: flex;
    width: min-content;

    .toggle-button {
        border-radius: 0;
        margin: 0;
        padding: 0 $xx-large;

        border: 1px solid $light-gray;
        color: $dark-gray;

        &:hover {
            background: $light-gray;
        }

        &:first-child {
            // border-top-left-radius: $xx-small;
            // border-bottom-left-radius: $xx-small;
            border-top-left-radius: $item-height;
            border-bottom-left-radius: $item-height;
        }

        &:last-child {
            border-top-right-radius: $item-height;
            border-bottom-right-radius: $item-height;
            // border-top-right-radius: $xx-small;
            // border-bottom-right-radius: $xx-small;
        }

        &.selected,
        &.danger {
            box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
            color: $off-white;
            border: none;
            font-weight: bold;
        }

        &.selected {
            @include hoverable-background($selected-color);
        }

        &.danger {
            @include hoverable-background($danger-color);
        }

        // &:hover:not(.selected) {
        //     border-color: $selected-color;
        //     background: $light-gray;
        //     color: $selected-color;
        // }

        &:focus {
            box-shadow: none;
        }
    }
}
