
@import '../../styles/variables';

.Elevation {
    .selected {
        background: orange !important;
        fill: orangered !important;
    }
    .Container {
        .Frame {
            fill: rgba(255, 0, 0, 0.25);

            &.top-frame {
                // fill: orangered;
            }
            &.bottom-frame {
                // fill: rosybrown;
            }
            &.left-frame {
                // fill: blanchedalmond;
            }
            &.right-frame {
                // fill: darkgoldenrod;
            }
            &:hover {
                // fill: darkblue !important;
                border: 2px solid olivedrab;
            }
        }
        &:hover {
            > .Frame {
                fill: blue;
                z-index: 6 !important;
            }
        }
    }
}
