
@import '../styles/variables';

.nested {
    border-left: $small solid $selected-color;
    // padding-left: $x-small;
    margin-left: $large;
    // box-sizing: border-box; //Ray removed
    .nested {
        // border-left: $med + $small solid $blue;
        border-left: none;
        margin-left: 0;
    }
}

.card {
    max-width: 70vw;
    background: $card-color;
    border-top: $small solid $current-color;
    padding: $large; //Ray added
    padding-bottom: 0;
}

.label {
    color: $label-color;
    margin-bottom: $x-small;
}
