
@import '../styles/variables';

.nested {
    border-left: $small solid $blue;
    // padding-left: $x-small;
    margin-left: $med;
    // box-sizing: border-box; //Ray removed
    .nested {
        // margin-left: 0;
        // border-left: $med + $small solid $blue;
        border-left: none;
        margin-left: 0;
    }
}

.card {
    max-width: 70vw;
    background: $card-color;
    border-top: $small solid $current-color;
    padding: $large; //Ray added
    padding-bottom: 0;
}
