@import "../../../styles/variables";

.NavMenu {
    .Dropdown,
    .item {
        background: $dark-blue;
        color: $off-white;
        border-bottom: 1px solid $medium-gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: $menu-height;
    }
    .item,
    .title {
        width: 100%;
        height: $menu-height;
        padding-right: $large;
        padding-left: $xxxxx-large;
    }

    .closed {
        background: $dark-blue;
    }

    .matched,
    .open,
    .content {
        background: $darker-blue;
    }

    .Dropdown {
        &.matched {
            .title {
                font-weight: bold;
            }
        }
        .content {
            > a {
                position: relative;
                padding-left: $large * 2;

                &.matched {
                    color: $light-blue;
                }

                .remove-navlink {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: $menu-height;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .block-one,
                    .block-two {
                        height: $small;
                        width: 1.5px;
                        background: $medium-gray;
                    }

                    .block-one {
                        margin-right: -0.75px;
                        transform: rotate(45deg);
                    }
                    .block-two {
                        margin-left: -0.75px;
                        transform: rotate(-45deg);
                    }

                    &:hover {
                        .block-one,.block-two{
                            background: $off-white;
                        }
                    }
                }
            }
        }
    }

    .item {
        &.matched {
            color: $light-blue;
        }
    }
}
