
@import '../../../styles/variables';

.TabNavigator {
    display: flex;
    flex-direction: column;

    .bottom-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: $xxxx-large;
        
        .buttons-right {
            display: flex;
            
            a {
                + a {
                    margin-left: $small;
                }
            }
        }
    }
    
    .card {
        .bottom-buttons {
            margin-bottom: -$base_size;
        }
    }

    .tab-container {
        width: 100%;
        max-width: 70vw;
        background: $light-blue;
        display: flex;
        height: $menu-height;
        min-height: $menu-height;
        overflow: hidden;
        z-index: 1;
        
        .tab {
            padding: 0 $large;
            display: flex;
            align-items: center;
            color: $off-white;
            
            + .tab {
                border-left: 1px solid $off-white;
            }
            
            &.current-tab {
                background: $off-white;
                color: $light-blue;
                font-weight: bold;
            }

            &.disabled {
                opacity: 1;
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    .card {
        border: none;
        position: relative;
    }
}
