@import "../../../styles/variables";

.CollapsibleTitle {
    .TitleBar {
        .title-bar-left {
            position: relative;
            padding-right: $large;

            &::after {
                @include triangle(9px, $medium-gray);
                position: absolute;
                content: "";
                width: 0;
                top: 50%;
                right: $base-size;
                transform: translateY(-50%) rotate(90deg);
            }

            &:hover {
                &::after {
                    border-left-color: $dark-gray;
                }
            }
        }
    }

    &.closed {
        .TitleBar {
            .title-bar-left {
                &::after {
                    transform: translateY(-50%) rotate(180deg) !important;
                }
            }
        }

        .content {
            display: none;
        }
    }
}
