@import "../../../../../../../styles/variables";

#InteractiveElevation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fill;
    overflow: hidden;

    #elevation-display {
        // background: rgba(255, 0, 0, 0.1);

        .Container {
            position: absolute;
            background: transparentize($light-blue, 0.75);

            &.selectable {
                &:hover {
                    &:not(.selected) {
                        box-shadow: inset 0 0 $xx-small $xx-small $dark-gray; // $light-blue;
                    }
                }
            }

            &.selected {
                // background: $selected-color;
                // color: $off-white;
                // background: transparentize($selected-color, 0.33);
                // z-index: 10;
                box-shadow: inset 0 0 $xx-small $xx-small transparentize($selected-color, 0.35);

                &.last-selected {
                    box-shadow: inset 0 0 $x-small $xx-small $selected-color;

                    .text {
                        font-weight: bold;
                    }
                }
            }

            .text {
                margin: $x-small;
            }
        }

        .frame-wrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            .Frame {
                background: $light-gray;
            }

            &.vertical {
                z-index: 2;

                .Frame {
                    background: $medium-gray;
                    z-index: 3;
                }
            }

            &.selected {
                .Frame {
                    background: $selected-color;
                }
            }

            &:hover {
                &.selectable {
                    &:not(.selected) {
                        .Frame {
                            background: $dark-gray;
                        }
                    }
                }
            }
        }

        .detail-wrapper {
            .Detail {
                position: absolute;
                // background: $selected-color;
                z-index: 4;

                &.selected {
                    background: $dark-gray;
                }

                .detail-bubble-placement {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 0;
                    width: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .DetailBubble {
                        // HIDDEN BY DEFAULT
                        display: none;
                        // HIDDEN BY DEFAULT
                        position: relative;
                        height: $xxxxx-large;
                        width: $xxxxx-large;
                        max-height: $xxxxx-large;
                        max-width: $xxxxx-large;
                        min-height: $xxxxx-large;
                        min-width: $xxxxx-large;
                        padding: 0;
                        border-radius: $xxxxx-large;
                        border-bottom-left-radius: 0;
                        background: white;
                        border: $icon-thickness solid $selected-color;
                        // display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: default;
                        color: $selected-color;
                        font-weight: bold;

                        &:hover {
                            background: $light-gray;
                        }
                    }
                }

                &.first-container-selected, &.second-container-selected {
                    .detail-bubble-placement {
                        .DetailBubble {
                            display: flex;
                        }
                    }
                }

                &.horizontal {
                    .detail-bubble-placement {
                        .DetailBubble {
                            transform: rotate(-45deg);
                            margin-bottom: $xxxxx-large + $xxx-large;

                            .detail-id {
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                &.vertical {
                    &.first-container-selected {
                        .detail-bubble-placement {
                            .DetailBubble {
                                transform: rotate(45deg);
                                margin-left: $xxxxx-large + $xxx-large;

                                .detail-id {
                                    transform: rotate(-45deg);
                                }
                            }
                        }
                    }

                    &.second-container-selected {
                        .detail-bubble-placement {
                            .DetailBubble {
                                transform: rotate(-135deg);
                                margin-right: $xxxxx-large + $xxx-large;

                                .detail-id {
                                    transform: rotate(135deg);
                                }
                            }
                        }
                    }
                }
            }

            &:hover {
                + .frame-wrapper {
                    &.selectable {
                        &:not(.selected) {
                            .Frame {
                                background: $dark-gray;
                            }
                        }
                    }
                }
            }
        }

        #finished-floor {
            position: absolute;
            background: $dark-gray;
            left: -100px;
            right: -100px;
            height: 2px;
        }
    }

    .DimensionButton {
        position: absolute;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &.horizontal {
            height: $x-large;
            max-height: $x-large;
            min-height: $x-large;
        }

        &.vertical {
            width: $x-large;
            max-width: $x-large;
            min-width: $x-large;

            span {
                transform: translateX(2px) rotate(-90deg);
            }
        }

        &.selected {
            background: $selected-color;
            color: $off-white;
        }
    }
}
