@import "../../../../../../../styles/variables";

#InteractiveElevation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fill;
    overflow: hidden;

    #elevation-display {
        // background: rgba(255, 0, 0, 0.1);

        .Container {
            position: absolute;
            background: transparentize($light-blue, 0.8);

            &.selectable {
                &:hover {
                    &:not(.selected) {
                        // box-shadow: inset 0 0 $xx-small $xx-small $dark-gray; // $light-blue;
                        // box-shadow: 0 0 0 $xx-small $dark-gray; // $light-blue;
                        box-shadow: inset 0 0 $xx-small $xx-small $dark-gray; // $light-blue;
                        // background: transparentize($light-blue, 0.1);
                    }
                }
            }

            &.selected {
                // background: $selected-color;
                // color: $off-white;
                // background: transparentize($selected-color, 0.33);
                // box-shadow: inset 0 0 $xx-small $xx-small transparentize($selected-color, 0.35);
                // box-shadow: 0 0 0 $xx-small transparentize($selected-color, 0.35);
                box-shadow: inset 0 0 $xx-small $xx-small transparentize($selected-color, 0.35);
                // background: transparentize($light-blue, 0.6);
                // background: $selected-color;
                
                // .text {
                //     color: white;
                // }
                
                &.last-selected {
                    // box-shadow: inset 0 0 $x-small $xx-small $selected-color;
                    // box-shadow: 0 0 0 $xx-small $selected-color;
                    box-shadow: inset 0 0 $x-small $xx-small $selected-color;
                    // background: transparentize($light-blue, 0.3);

                    .text {
                        font-weight: bold;
                    }
                }
            }

            .text {
                margin: $x-small;
            }
        }

        .frame-hover-wrapper {
            .frame-wrapper {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;

                .Frame {
                    background: $light-gray;
                }
            }

            .detail-wrapper {
                .Detail {
                    position: absolute;
                    z-index: 1;
                    // background: $selected-color;

                    .detail-bubble-placement {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 0;
                        width: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .DetailBubble {
                            // HIDDEN BY DEFAULT
                            display: none;
                            // HIDDEN BY DEFAULT
                            position: relative;
                            height: $xxxxx-large;
                            width: $xxxxx-large;
                            max-height: $xxxxx-large;
                            max-width: $xxxxx-large;
                            min-height: $xxxxx-large;
                            min-width: $xxxxx-large;
                            padding: 0;
                            border-radius: $xxxxx-large;
                            border-bottom-left-radius: 0;
                            background: white;
                            border: $icon-thickness solid $selected-color;
                            // display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: default;
                            color: $selected-color;
                            font-weight: bold;

                            &:hover {
                                background: $light-gray;
                            }
                        }
                    }

                    &.first-container-selected,
                    &.second-container-selected,
                    &.frame-selected {
                        .detail-bubble-placement {
                            .DetailBubble {
                                display: flex;
                            }
                        }
                    }
                }
            }

            &.horizontal {
                .detail-wrapper {
                    .Detail {
                        .detail-bubble-placement {
                            .DetailBubble {
                                transform: rotate(-45deg);
                                margin-bottom: $xxxxx-large + $xxx-large;
                                margin-top: 0;

                                .detail-id {
                                    transform: rotate(45deg);
                                }
                            }
                        }

                        &.second-container-selected {
                            .detail-bubble-placement {
                                .DetailBubble {
                                    transform: rotate(135deg);
                                    margin-top: $xxxxx-large + $xxx-large;
                                    margin-bottom: 0;

                                    .detail-id {
                                        transform: rotate(-135deg);
                                    }
                                }
                            }
                        }

                        &.first-container-selected,
                        &.frame-selected,
                        &.no-first-container {
                            .detail-bubble-placement {
                                .DetailBubble {
                                    transform: rotate(-45deg);
                                    margin-bottom: $xxxxx-large + $xxx-large;
                                    margin-top: 0;

                                    .detail-id {
                                        transform: rotate(45deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.vertical {
                .detail-wrapper {
                    .Detail {
                        .detail-bubble-placement {
                            .DetailBubble {
                                transform: rotate(-135deg);
                                margin-right: $xxxxx-large + $xxx-large;
                                margin-left: 0;

                                .detail-id {
                                    transform: rotate(135deg);
                                }
                            }
                        }

                        &.first-container-selected {
                            .detail-bubble-placement {
                                .DetailBubble {
                                    transform: rotate(45deg);
                                    margin-left: $xxxxx-large + $xxx-large;
                                    margin-right: 0;

                                    .detail-id {
                                        transform: rotate(-45deg);
                                    }
                                }
                            }
                        }

                        &.second-container-selected,
                        &.frame-selected {
                            .detail-bubble-placement {
                                .DetailBubble {
                                    transform: rotate(-135deg);
                                    margin-right: $xxxxx-large + $xxx-large;
                                    margin-left: 0;

                                    .detail-id {
                                        transform: rotate(135deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.vertical {
                .frame-wrapper {
                    .Frame {
                        background: $medium-gray;
                        z-index: 2;
                    }
                }
            }

            &.selected {
                .frame-wrapper {
                    .Frame {
                        background: $selected-color;
                    }
                }
                .detail-wrapper {
                    .Detail {
                        // background: $dark-gray;
                    }
                }
            }

            &:hover {
                &.selectable {
                    &:not(.selected) {
                        .frame-wrapper {
                            .Frame {
                                background: $dark-gray;
                            }
                        }
                        // .detail-wrapper {
                        //     .DetailBubble {
                        //         display: flex;
                        //     }
                        // }
                    }
                }
            }
        }

        #FinishedFloor {
            position: absolute;
            background: $dark-gray;
            left: -$large;
            right: -$large;
            height: $xx-small;
            transform: translateY($xx-small);
            z-index: 1;
        }
    }

    .DimensionButton {
        position: absolute;
        margin: 0;
        padding: 0;
        background: transparentize(white, 0.125);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;

        &.horizontal {
            height: $x-large;
            max-height: $x-large;
            min-height: $x-large;
        }

        &.vertical {
            width: $x-large;
            max-width: $x-large;
            min-width: $x-large;

            div {
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
            }
        }

        &.selected {
            background: $selected-color;
            color: $off-white;
        }

        &:hover {
            background: $light-gray;
        }
    }
}
