@import "../../../../../../../styles/variables";

#InteractiveElevation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fill;
    overflow: hidden;

    &.spacebar-pressed {
        cursor: grab;

        #elevation-display {
            pointer-events: none;
        }
    }

    #elevation-display {
        // background: rgba(255, 0, 0, 0.1);

        &.container-selected {
            .frame-wrapper {
                pointer-events: none;

                .Detail {
                    pointer-events: all;
                }
            }
        }

        &.vertical-frame-selected {
            .frame-wrapper.horizontal,
            .DimensionButton,
            .Container {
                pointer-events: none;
            }
        }

        &.horizontal-frame-selected {
            .frame-wrapper.vertical,
            .DimensionButton,
            .Container {
                pointer-events: none;
            }
        }

        &.detail-selected {
            .frame-wrapper,
            .DimensionButton,
            .Container {
                pointer-events: none;
            }
        }

        .Container {
            position: absolute;
            background: transparentize($light-blue, 0.8);

            &.custom-rough-opening {
                border: 2px solid transparentize($danger-color, 0.8) !important;
                // background: $off-white !important;
                // background: none !important;
                background: transparentize($danger-color, 0.8);
                box-shadow: none !important;
                pointer-events: none;
            }

            // &.selectable {
            &:hover {
                // box-shadow: inset 0 0 $xx-small $xx-small $dark-gray; // $light-blue;
                // box-shadow: 0 0 0 $xx-small $dark-gray; // $light-blue;
                box-shadow: inset 0 0 $xx-small $xx-small $dark-gray; // $light-blue;
                // background: transparentize($light-blue, 0.1);
            }
            // }

            .text {
                margin: $x-small;
            }
        }

        .frame-wrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

            .Frame {
                background: $light-gray;
            }

            &.vertical {
                z-index: 3;

                .Frame {
                    background: $medium-gray;
                }
            }

            &:hover {
                .Frame {
                    background: $dark-gray;
                }
            }
        }

        #FinishedFloor {
            position: absolute;
            background: $dark-gray;
            left: -200vw;
            right: -200vw;
            height: $xx-small;
            width: 600vw;
            transform: translateY($xx-small);
            z-index: 1;
        }
    }

    #SelectionLayer {
        .SelectedItem {
            position: absolute;
            z-index: 4;

            &.selected-container {
                box-shadow: inset 0 0 $xx-small $xx-small transparentize($selected-color, 0.35);

                &.last-selected {
                    box-shadow: inset 0 0 $x-small $xx-small $selected-color;
                }
            }

            &.selected-frame,
            &.selected-detail {
                background: $selected-color;
            }
        }

        .Detail {
            position: absolute;
            z-index: 5;
            // background: $selected-color;

            .detail-bubble-placement {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 0;
                width: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .DetailBubble {
                    display: flex;
                    position: relative;
                    height: $xxxxx-large;
                    // width: $xxxxx-large;
                    max-height: $xxxxx-large;
                    // max-width: $xxxxx-large;
                    min-height: $xxxxx-large;
                    // min-width: $xxxxx-large;
                    min-width: unset;
                    padding: 0 $small;
                    border-radius: $x-small;
                    // border-bottom-left-radius: 0;
                    background: white;
                    // border: $icon-thickness solid $selected-color;
                    border: 2px solid $selected-color;
                    // display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;
                    color: $selected-color;
                    font-weight: bold;

                    &:hover {
                        background: $light-gray;

                        &.horizontal {
                            .detail-bubble-placement{
                                .detail-pointer {
                                    &::after {
                                        // display: none !important;
                                        border-color: $light-gray;
                                        // border-color: transparent;
                                    }
                                }
                            }
                        }

                        &.vertical {
                            .detail-pointer {
                                &::after {
                                    // display: none;
                                    border-color: $light-gray;
                                }
                            }
                        }
                    }

                    .detail-pointer {
                        position: absolute;
                        height: 0;
                        width: 0;
                    }
                }
            }

            &.horizontal {
                // below frame (pointing up)
                .detail-bubble-placement {
                    .DetailBubble {
                        margin-bottom: $xxxxx-large + $xx-large;
                        margin-top: 0;

                        .detail-pointer {
                            top: calc(-1px - #{$small});
                            left: 50%;
                            border: $xx-small solid rgba(0, 0, 0, 0);
                            border-top-width: 0;
                            border-bottom-width: $small;
                            border-bottom-color: $selected-color;
                            transform: translateX(-50%);

                            &::after {
                                content: "";
                                position: absolute;
                                height: 0;
                                width: 0;
                                top: $x-small;
                                left: 50%;
                                border: $xx-small solid rgba(0, 0, 0, 0);
                                border-top-width: 0;
                                border-bottom-width: $small;
                                border-bottom-color: white;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }

                &.second-container-selected {
                    .detail-bubble-placement {
                        .DetailBubble {
                            margin-top: $xxxxx-large + $xx-large;
                            margin-bottom: 0;
                        }
                    }
                }

                // above frame (pointing down)
                &.first-container-selected,
                &.frame-selected {
                    .detail-bubble-placement {
                        .DetailBubble {
                            margin-bottom: $xxxxx-large + $xx-large;
                            margin-top: 0;

                            .detail-pointer {
                                top: unset;
                                bottom: calc(-1px - #{$small});
                                left: 50%;
                                border: $xx-small solid rgba(0, 0, 0, 0);
                                border-bottom-width: 0;
                                border-top-width: $small;
                                border-top-color: $selected-color;
                                transform: translateX(-50%);

                                &::after {
                                    content: "";
                                    position: absolute;
                                    height: 0;
                                    width: 0;
                                    top: unset;
                                    bottom: $x-small;
                                    left: 50%;
                                    border: $xx-small solid rgba(0, 0, 0, 0);
                                    border-bottom-width: 0;
                                    border-top-width: $small;
                                    border-top-color: white;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }
            }

            &.vertical {
                // right of frame (pointing left)
                .detail-bubble-placement {
                    .DetailBubble {
                        margin-right: $xxxxx-large + $xx-large;
                        margin-left: 0;

                        .detail-pointer {
                            right: unset;
                            left: calc(-1px - #{$small});
                            top: 50%;
                            border: $xx-small solid rgba(0, 0, 0, 0);
                            border-left-width: 0;
                            border-right-width: $small;
                            border-right-color: $selected-color;
                            transform: translateY(-50%);

                            &::after {
                                content: "";
                                position: absolute;
                                height: 0;
                                width: 0;
                                right: unset;
                                left: $x-small;
                                top: 50%;
                                border: $xx-small solid rgba(0, 0, 0, 0);
                                border-left-width: 0;
                                border-right-width: $small;
                                border-right-color: white;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

                &.first-container-selected {
                    .detail-bubble-placement {
                        .DetailBubble {
                            margin-left: $xxxxx-large + $xx-large;
                            margin-right: 0;
                        }
                    }
                }

                // left of frame (pointing right)
                &.second-container-selected,
                &.frame-selected {
                    .detail-bubble-placement {
                        .DetailBubble {
                            margin-right: $xxxxx-large + $xx-large;
                            margin-left: 0;
                        }

                        .detail-pointer {
                            left: unset;
                            right: calc(-1px - #{$small});
                            top: 50%;
                            border: $xx-small solid rgba(0, 0, 0, 0);
                            border-right-width: 0;
                            border-left-width: $small;
                            border-left-color: $selected-color;
                            transform: translateY(-50%);

                            &::after {
                                content: "";
                                position: absolute;
                                height: 0;
                                width: 0;
                                left: unset;
                                right: $x-small;
                                top: 50%;
                                border: $xx-small solid rgba(0, 0, 0, 0);
                                border-right-width: 0;
                                border-left-width: $small;
                                border-left-color: white;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }

    .DimensionButton {
        position: absolute;
        margin: 0;
        padding: 0;
        background: transparentize(white, 0.125);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;

        &.horizontal {
            height: $x-large;
            max-height: $x-large;
            min-height: $x-large;
        }

        &.vertical {
            width: $x-large;
            max-width: $x-large;
            min-width: $x-large;

            div {
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
            }
        }

        &.selected {
            background: $selected-color;
            color: $off-white;
        }

        &:hover {
            background: $light-gray;
        }
    }
}
