
@import '../../variables';

.Pill {
    background: $light-gray;
    color: $x-dark-gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: $pill-width;
    border-radius: $pill-width;
    padding: $med;
    margin: $small $large;
    margin-left: 0;

    &.align-left {
        justify-content: flex-start;
    }

    &.selectable:hover {
        background: $dark-gray;
        color: white;
    }
    &.selected {
        background: $blue;
        color: white;
    }
    &.default {
        border: 2px solid $x-dark-gray;
    }
    &.danger {
        background: red;
    }
    &.invalid {
        opacity: 0.67;
    }
    &.editing {

    }
    .title {
        font-weight: bold;
    }
    .subtitle {

    }
    button {
        position: absolute;
        color: $x-dark-gray;
        &.drag {
            top: 50%;
            left: 50%;
            transform: translateX(-50%)
        }
        &.edit {
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            display: none;
        }
        &.delete {
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            display: none;
        }
    }

    &:hover {
        button {
            &.delete, &.edit {
                display: flex;
            }
        }
    }

    &.tile {
        flex-direction: column;
        justify-content: space-between;
        height: $pill-width;
        border-radius: $small;

        &.align-left {
            align-items: flex-start;
            justify-content: space-between;
        }

        .title {
            margin-bottom: $small;
        }

        .subtitle {
            
        }
        
        .footer {
            font-style: italic;
        }

        button {
            &.delete {
                top: 16px;
            }
        }
    }
}
