
@import '../../../styles/variables';

.TabNavigator {
    display: flex;
    flex-direction: column;

    .tab-container {
        width: 100%;
        max-width: 80vw;
        background: $light-blue;
        display: flex;
        height: $menu-height;
        min-height: $menu-height;
        overflow: hidden;
        z-index: 1;
        
        .tab {
            padding: 0 $large;
            display: flex;
            align-items: center;
            background: none;
            color: white;
            
            + .tab {
                border-left: 1px solid $off-white;
            }
            
            &.current-tab {
                opacity: 1;
                background: $off-white;
                color: $dark-gray;
            }

            &.disabled {
                opacity: 1;
                color: transparentize(white, 0.5);
            }
        }
    }

    .card {
        border: none;
        position: relative;
    }
}
