
@import '../../styles/variables';

.Pill {
    background: $pill-color;
    border: $icon-thickness solid $pill-color;
    color: $dark-gray;
    box-sizing: border-box; //Ray removed
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // width: $pill-width;
    padding: 0 $item-height * 0.875;
    border-radius: $pill-width;
    height: $item-height;
    box-shadow: .1rem .1rem $xx-small rgba(74,74,74,.8);
    //padding: $med; //Ray removed
    // margin-left: 0; //Ray removed

    input {
        border: none;
        // width: 100%;
        // width: 0.5em;
    }

    &.align-left {
        justify-content: flex-start;

        input {
            text-align: left;
        }
    }

    &.selectable, &.deletable, &.editable {
        &:hover{
            // background: $dark-gray;
            background: none;
            border: $icon-thickness solid $dark-gray;
            // color: $off-white;
            box-shadow: none;
        }
    }
    &:hover {
        .left-x, .right-x {
            background: $dark-gray;
        }
    }
    &.selected, &.editing {
        background: $selected-color;
        border: $icon-thickness solid $selected-color;
        color: $off-white;
        box-shadow: none;
        &:hover, &.editing {
            background: none;
            color: $selected-color;
            border: $icon-thickness solid $selected-color;
            input {
                color: $selected-color;
            }
        }
        .left-x, .right-x {
            background: $selected-color;
        }
    }
    &.default {
        border: 2px solid $dark-gray;
    }
    &.danger {
        background: $warning-color;
        border: $icon-thickness solid $warning-color;
        color: $off-white;
        box-shadow: none;
        &:hover, &.editing {
            background: none;
            color: $warning-color;
            border: $icon-thickness solid $warning-color;
            input {
                color: $warning-color;
            }
        }
        .left-x, .right-x {
            background: $warning-color;
        }
    }
    &.disabled {
        opacity: 0.67;
    }
    &.editing {
        padding: 0;
    }
    .subtitle {

    }
    button {
        position: absolute;
        color: $dark-gray;
        &.drag {
            top: 50%;
            left: 50%;
            transform: translateX(-50%)
        }
        &.edit {
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            margin: 0;
            height: $item-height * 0.75;
            display: none;
        }
        &.delete {
            top: 50%;
            right: $x-small;
            transform: translateY(-50%);
            margin: 0;
            height: $item-height * 0.75;
            display: none;
        }
    }
    
    &.with-button-tile {
        &:hover {
            .title, .subtitle, .footer {
                opacity: 0.25;
            }
            &.editing {
                .title, .subtitle, .footer {
                    opacity: 1;
                }
            }
        }
    }

    .ButtonTile {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background: $card-color;
        border-radius: $small;
        // &.selected{
        //     background: $selected-color;
        // }

        button {
            position: static;
        }
    }

    input {
        // width: 100%;
        margin: 0;
        text-align: center;
        background: none;
        &.selected{
            color: $selected-color;
        }
    }

    h5, h6 {
        margin: 0;
    }

    &:hover {
        // background: none;
        cursor: default;
        box-shadow: none;

        button {
            &.delete, &.edit {
                display: flex;
            }
        }

        .ButtonTile {
            opacity: 1;
        }
    }

    &.tile {
        flex-direction: column;
        justify-content: space-between;
        height: $pill-width;
        width: $pill-width;
        border-radius: $small;
        padding: $base-size;

        &.align-left {
            align-items: flex-start;
            justify-content: space-between;
        }

        .title {
            margin-bottom: $small;
        }

        .subtitle {
            
        }
        
        .footer {
            font-style: italic;
        }

        button {
            &.delete {
                top: 16px;
            }
        }
    }
}
