@import "../../../../../../../styles/variables";
#viewport {
    .NavigationButton {
        position: absolute;
        top: 50%;
        width: 14vw;
        height: 14vw;
        max-width: unset;
        min-width: unset;
        max-height: unset;
        min-height: unset;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.left {
            left: 0;
            transform: translate(-50%, -50%);
        }
        &.right {
            right: 0;
            transform: translate(50%, -50%);
        }
        button {
            width: 90%;
            height: 90%;
            border-radius: 100%;
            background: $light-gray;
            display: none;
            justify-content: space-between;
            div {
                height: $item-height;
                width: $item-height;
                border: $xx-small solid $dark-gray;
                transform: rotate(45deg);
                &:first-of-type {
                    border-left: none;
                    border-bottom: none;
                    + div {
                        border-top: none;
                        border-right: none;
                    }
                }
            }
        }
        &:hover {
            button {
                display: flex;
            }
        }
    }
}
