
@import '../../../../../../styles/variables';

/*
Viewport margin is controlled in JavaScript, since RightSidebar is nested deep within the Viewport
*/

#RightSidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $right-sidebar-width;
    padding: $large;
    background: $dark-blue;

    &.closed {
        width: 0;
        max-width: 0;
        padding: 0;
    }

    > * {
        margin-bottom: $x-large;
    }

    .sidebar-group {
        position: relative;
        // border-bottom: 1px solid $medium-gray;
        padding-bottom: $x-large;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 25%;
            right: 25%;
            border-bottom: 1px solid $medium-gray;
        }

        > * {
            &:not(:last-child) {
                margin-bottom: $x-large;
            }
        }
    }

    .sidebar-button {
        width: 100%;

        color: $light-gray;

        + .sidebar-button {
            margin-left: 0;
        }

        &.primary {
            @include hoverable-background($selected-color, false);
            border: none;
            color: $off-white;
            font-weight: bold;

            &:hover {
                color: $dark-gray;
            }
        }
    }

    .TitleBar {
        color: $off-white;
        border-bottom: 1px solid $medium-gray;
        padding-left: $small;
        padding-bottom: $small;
        margin-top: $xx-large;
    }
}
