
@import '../../../styles/variables';

.HeadedContainer {
        
    header {
        display: flex;
        justify-content: space-between;
        padding-bottom: $x-small;
        border-bottom: 1px solid $border-color;
        margin-bottom: $large;

        
        .title {
            font-size: $large;
        }
    }


    .content {

        > * {
            margin-bottom: $large;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
