
@import '../../styles/variables';

#Viewport {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $header-height;//Ray changed
    padding-bottom: $header-height * 4; //Ray changed
    
    .card {
        width: 90%;
    }

    // #ViewportHeader {
    //     // position: absolute;
    //     // top: 0;
    //     // left: 0;
    //     // right: 0;
    //     // width: stretch;
    //     // height: $item-height;
    //     background: $med-gray;
    //     color: white;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 0 $small;
    // }
}
