
@import '../../styles/variables';

#Viewport {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $header-height;

    .Wizard {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 90%;
        margin-bottom: $header-height * 4;
    }
}
