
@import '../../styles/variables';

#Viewport {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $header-height;

    .Wizard {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        margin-bottom: $header-height * 4;
    }

    > header {
        display: flex;
        justify-content: space-between;
        height: $item-height;
        min-height: $item-height;
        font-size: $item-height;
        margin-bottom: $small;

        > *, .right-buttons {
            display: flex;
            > * {
                + * {
                    margin-left: $base_size;
                }
            }
        }
    }

    > * {
        width: 90%;
        max-width: 70vw;
    }
}
