
@import './styles/variables';

#Viewport, #Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: $sidebar-width;
}

#Sidebar {
    border-right: 1px solid white;
}

#Viewport {
    left: $sidebar-width;
    width: $viewport-width;
}
