@import "../../../../../styles/variables";

#SystemTree {
    display: flex;
    align-items: flex-start;

    .Tree {
        .Branch {
            .tree-item {
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                border-radius: $xx-small;
                height: $item-height;
                margin: 0 $x-small $small;
                padding: 0 $small;
                cursor: default;

                &.type-option {
                    background: $dark-gray;
                    color: $off-white;
                }

                &.type-value {
                    background: none;
                    border: 1px solid $dark-gray;
                    // box-shadow: inset -1px -1px 3px $dark-gray;
                    
                    &.default {
                        // font-weight: bold;
                        text-transform: uppercase;
                        // box-shadow: inset 1px 1px 3px $dark-gray;
                        // text-decoration: underline;
                        // border-width: 2px;
                        // &::before {
                        //     content: "<";
                        //     display: inline-block;
                        //     margin-right: $xx-small;
                        // }

                        // &::after {
                        //     content: ">";
                        //     display: inline-block;
                        //     margin-left: $xx-small;
                        // }
                    }
                }

                &.type-systemconfiguration {
                    background: $light-gray;
                }

                &.subtype-systemdetail {
                    background: $light-blue;
                    color: $dark-gray;
                    // font-weight: bold;
                }

                &.selected {
                    background: $selected-color;
                    border: none;
                    color: $off-white;
                }

                // > * {
                //     display: flex;
                //     width: fill;
                //     border-left: 1px solid $dark-gray;
                //     border-right: 1px solid $dark-gray;
                //     // margin: 5px;
                //     margin: -0.5px;
                //     padding: 10px;
                //     // border-radius: 5px;
                // }
            }
        }
    }
}
