@import "../../../../../styles/variables";

#SystemTree {
    display: flex;
    align-items: flex-start;

    .Tree {
        .Branch {
            .tree-item {
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                border-radius: $xx-small;
                height: $item-height;
                margin: 0 $x-small $small;
                padding: 0 $small;
                cursor: default;

                &.type-option {
                    background: $dark-gray;
                    color: $off-white;
                }

                &.type-value {
                    background: none;
                    border: 1px solid $dark-gray;
                }

                &.type-type {
                    background: $light-gray;
                }

                &.subtype-systemdetailtype {
                    background: $light-blue;
                    color: $dark-gray;
                }

                &.selected {
                    background: $selected-color;
                    border: none;
                    color: $off-white;
                }

                // > * {
                //     display: flex;
                //     width: fill;
                //     border-left: 1px solid $dark-gray;
                //     border-right: 1px solid $dark-gray;
                //     // margin: 5px;
                //     margin: -0.5px;
                //     padding: 10px;
                //     // border-radius: 5px;
                // }
            }
        }
    }
}
