@import "../../../../../../styles/variables";

.Tray {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $off-white;
    // height: $pill-width;
    // width: 90%;
    box-shadow: none;
    border: none;

    .handle {
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translatex(-50%);
        height: $item-height;
        width: $pill-width / 2;
        background: $off-white;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            width: 0;
            height: 0;
            border-top: $item-height solid transparent;
            pointer-events: none;
        }
        &::before {
            left: -$item-height;
            border-right: $item-height solid $off-white;
        }
        &::after {
            right: -$item-height;
            border-left: $item-height solid $off-white;
        }

        .block-one,
        .block-two {
            background: $medium-gray;
            width: $xx-small;
            height: $base-size;
        }
        .block-one {
            margin-right: $xx-small * 0.6;
            transform: rotate(-45deg);
        }
        .block-two {
            margin-left: $xx-small * 0.6;
            transform: rotate(45deg);
        }

        &:hover {
            .block-one,
            .block-two {
                background: $dark-gray;
            }
        }
    }

    &.closed {
        height: 0;
        padding: 0;
        margin: 0;

        .handle {
            .block-one {
                transform: rotate(45deg);
            }
            .block-two {
                transform: rotate(-45deg);
            }
        }
    }
}
