
@import '../../styles/variables';

.Input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 $large $large 0;
    // margin: $small 0;
    
    &.type-checkbox {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .label {
        opacity: 0.675;
        margin-bottom: $xx-small;
    }
}
