@import "../../../../../../styles/variables";

#DetailDisplay {
    .inner-transform-box {
        width: 100%;
        height: 100%;

        #detail-display {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            #origin {
                stroke-width: 3px;
                stroke: $selected-color;
                fill: none;
            }

            .part {
                stroke: $dark-gray;
                fill: rgba(255, 255, 255, 0.25);

                &.selected {
                    fill: $selected-color;
                }
            }
        }
    }
}
