
@import '../../../styles/variables';

.list-container {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: -$base_size;

    > * {
        margin: 0 $base_size $base_size 0;
    }

    .Input {
        margin: 0 $base_size $base_size 0;
        + .AddButton {
            margin: 0 $base_size $base_size 0;
        }
    }
}
