
// SIZES

$header-height: 75px;
$menu-height: 50px;
// $viewport-height: calc(100vh - 75px);
$sidebar-width: 250px;
$right-sidebar-width: 300px;
// $viewport-width: calc(100vw - 17.5vw);

$item-height: 40px;
$pill-width: 200px;

// Colors
$danger-color: #D0021B;
$selected-color: #4A90E2;
$action-color: #5CB85C;
$icon-green: #0CFC04;

$off-white: #ECEFF1;
$light-gray: #C8C8C8;
$medium-gray: #979797;
$medium-dark-gray: #878787;
$dark-medium-gray: #585858;
$dark-gray: #4A4A4A;

$glass-blue: #E0F1FB;
$light-blue: #86C7E9;
$dark-blue: #262F3D;
$darker-blue: #19212B;


$xx-small: 0.25rem;
$x-small: 0.5rem;
$small: 0.75rem;
$base-size: 1rem;
$large: 1.25rem;
$x-large: 1.5rem;
$xx-large: 1.75rem;
$xxx-large: 2rem;
$xxxx-large: 2.25rem;
$xxxxx-large: 2.5rem;

$text-size: $base-size;
$icon-thickness: .2rem;

$checkbox-height: $item-height / 2;

// SCSS Mixins



@mixin hoverable-background($color, $darken: true) {
    border-color: $color;
    background: $color;
    
    &:hover {
        &:not(.disabled) {
            @if $darken {
                background: mix($color, black, 45);
                border-color: mix($color, black, 45);
            } @else {
                background: mix($color, white, 45);
                border-color: mix($color, white, 45);
            }
        }
    }
}

