// SIZES

$header-height: 75px;
$menu-height: 50px;
// $viewport-height: calc(100vh - 75px);
$sidebar-width: 250px;
$right-sidebar-width: 300px;
// $viewport-width: calc(100vw - 17.5vw);

$item-height: 40px;
$pill-width: 200px;
$hot-key-height: 35px;

// Colors
$warning-color: rgb(255, 180, 0);
$danger-color: #d0021b;
$selected-color: #4a90e2;
$logo-blue: #13899b;
$action-color: #5cb85c;
$icon-green: #0cfc04;

$off-white: #eceff1;
$light-gray: #c8c8c8;
$medium-gray: #979797;
$medium-dark-gray: #878787;
$dark-medium-gray: #585858;
$dark-gray: #4a4a4a;

$glass-blue: #e0f1fb;
$light-blue: #86c7e9;
$dark-blue: #262f3d;
$darker-blue: #19212b;

$xx-small: 0.25rem;
$mx-small: 0.33rem;
$x-small: 0.5rem;
$small: 0.75rem;
$base-size: 1rem;
$large: 1.25rem;
$x-large: 1.5rem;
$xx-large: 1.75rem;
$xxx-large: 2rem;
$xxxx-large: 2.25rem;
$xxxxx-large: 2.5rem;

$text-size: $base-size;
$icon-thickness: 0.2rem;

$checkbox-height: $item-height / 2;

// SCSS Mixins

@mixin hoverable-background($color, $darken: true) {
    border-color: $color;
    background: $color;

    &:hover {
        &:not(.disabled) {
            @if $darken {
                background: mix($color, black, 45);
                border-color: mix($color, black, 45);
            } @else {
                background: mix($color, white, 45);
                border-color: mix($color, white, 45);
            }
        }
    }
}

@mixin triangle($size: 9px, $color: $medium-gray, $rotation: 0deg) {
    width: 0;
    border-left: $size solid $color;
    border-bottom: $size * 7 / 9 solid rgba(0, 0, 0, 0);
    border-top: $size * 7 / 9 solid rgba(0, 0, 0, 0);
    transform: rotate($rotation);
}
