
// SIZES

$header-height: 75px;
$menu-height: 50px;
// $viewport-height: calc(100vh - 75px);
$sidebar-width: 250px;
// $viewport-width: calc(100vw - 17.5vw);

$item-height: 40px;
$pill-width: 200px;

// Colors
$danger-color: #D0021B;
// $selected-color: #209CEE;
$selected-color: #4A90E2;
// $action-color: #58BA48;
$action-color: #5CB85C;

$off-white: #ECEFF1;
$light-gray: #C8C8C8;
$medium-gray: #979797;
$dark-gray: #4A4A4A;

// $light-blue: #209CEE;
// $light-blue: #4FC3F7;
$light-blue: #86C7E9;
$dark-blue: #262F3D;
$darker-blue: #19212B;


$xx-small: 0.25rem;
$x-small: 0.5rem;
$small: 0.75rem;
$base-size: 1rem;
$large: 1.25rem;
$x-large: 1.5rem;
$xx-large: 1.75rem;
$xxx-large: 2rem;
$xxxx-large: 2.25rem;
$xxxxx-large: 2.5rem;

$text-size: $base-size;
$icon-thickness: .2rem;

$checkbox-height: $item-height / 2;

// SCSS Mixins

@mixin two-colors($text, $background, $invert: true) {
    color: $text;
    background-color: $background;
    border: 1px solid $background;
    .text-color {
        background-color: $text;
    }
    .background-color {
        background-color: $background;
    }
    @if $invert {
        &:hover {
            color: $background;
            border-color: $background;
            background-color: $text;
            .text-color {
                background-color: $background;
            }
            .background-color {
                background-color: $text;
            }
        }
    }
}

@mixin hoverable-background($color) {
    border-color: $color;
    background: $color;
    
    &:hover {
        background: mix($color, black, 45);
        border-color: mix($color, black, 45);
    }
}

// Base Classes/Extendable Classes

.light {
    nothing: 12;
    // @include two-colors($off-white, $dark-gray);
}

.selected {
    nothing: 12;
    // @include two-colors($off-white, $selected-color);    
}

.danger {
    nothing: 12;
    // @include two-colors($off-white, $danger-color);    
}

.action {
    nothing: 12;
    // @include two-colors($off-white, $action-color);
}
