@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "./variables";

body {
    color: $dark-gray;
}

button,
input {
    outline: none;
    border-radius: $xx-small;
}

button {
    // @include two-colors($selected-color, $off-white);
    // border-color: $selected-color;
    border: 1px solid $light-gray;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: $item-height;
    height: $xxx-large;
    min-width: $pill-width * 0.75;
    padding: 0 $large;
    font-size: $text-size;
    color: $dark-gray;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background: $light-gray;
        font-weight: bold;
    }

    + button {
        margin-left: $small;
    }

    &:focus,
    &:focus-within {
        box-shadow: 0 0 1px 1px $selected-color;
    }

    &.danger,
    &.action {
        color: $off-white;
        border: none;

        &:hover {
            font-weight: bold;
        }
    }

    &.danger {
        @include hoverable-background($danger-color);
    }

    &.action {
        @include hoverable-background($action-color);
    }

    &.light {
        border: 1px solid $off-white;
        color: $off-white;

        &:hover {
            background: $off-white;
            color: $dark-gray;
        }
    }
}

input {
    border: none;
    border: 1px solid $light-gray;
    // height: $item-height;
    height: $xxx-large;
    width: $pill-width;
    padding: 0 $small;
    font-size: $text-size;
}

input[type="number"] {
    width: $pill-width / 2;

    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        // -webkit-appearance: none;
        transform: scale(1.25);
    }
}

input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

html,
#root,
body {
    font-family: "Roboto";
    font-size: $text-size;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: inherit;
}
