@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import './variables';

button, input {
    outline: none;
    border-radius: $xx-small;
}

button {
    @include two-colors($selected-color, $off-white);
    border-color: $selected-color;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $item-height;
    min-width: $pill-width / 2;
    padding: 0 $large;
    font-size: $text-size;
    cursor: pointer;

    + button {
        margin-left: $small;
    }
    
    &:focus, &:focus-within {
        box-shadow: 0 0 1px 1px $selected-color;
    }

    &.light {
        border-color: $off-white;
        background: none;
    }
    &.selected {
        &:hover {
            @include two-colors($off-white, $selected-color, false);
        }
    }
    &.danger, &.action {
        &:hover {
            background: none;
        }
    }
}

input {
    border: none;
    border: 1px solid $dark-gray;
    height: $item-height;
    width: $pill-width;
    padding: 0 $small;
    font-size: $text-size;
}

input[type=number] {
    width: $pill-width / 2;
    
    &::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}

input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
}


html, #root, body {
    font-family: 'Roboto';
    font-size: $text-size;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: inherit;
}
