
@import '../../styles/variables';

#Header {
    // SEE LAYOUT STYLES IN `App.scss`
    .logo {
        height: 75%;
        width: $header-height;
    }
    > div {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
