
@import '../../../../../../styles/variables';

.CreateElevation {

    #add-horizontals {
        .CircleButton {
            .circle-button {
                height: $xxx-large;
                width: $xxx-large;
            }
        }
    }

    .ElevationPreview {
        svg {
            height: $pill-width;
            border-top: 2px solid $dark-gray;

            .container {
                fill: transparentize($light-blue, 0.8);
            }

            .frame {
                // fill: $medium-gray;
                fill: $light-gray;
            }

            // #finished-floor {
            //     stroke-width: $x-small;
            //     stroke: $dark-gray;
            // }
        }
    }
}
