
@import '../../styles/variables';

.HeadedContainer {
    // margin-left: $large; //Ray removed
        
    header {
        // margin: $small; //Ray removed
        display: flex;
        justify-content: space-between;
        padding-bottom: $x-small;
        border-bottom: 1px solid $border-color;
        margin-bottom: $large;

        + .content {
            .ListContainer:first-child {
                margin-top: -$large;
            }
        }

        .title {
            // font-weight: bold;
            font-size: $large;
        }
    }

    .content {
        // margin: $small; //Ray removed
        margin-bottom: $xxxx-large;
    }

    // &.nested {
    //     margin-left: $small + $small;
    // }
}
