
@import '../../variables';

.HeadedContainer {
    margin: $large $small $x-large;
        
    header {
        margin: $small;
        display: flex;
        justify-content: space-between;
        padding-bottom: $x-small;
        border-bottom: 1px solid $x-dark-gray;

        .title {
            font-weight: bold;
        }
    }

    .content {
        margin: $small;
    }

    &.nested {
        margin-left: $small + $small;
    }
}
