@import "../../../../styles/variables";

.part-preview {
    background: black;
    fill: none;

    path {
        stroke: $light-gray;
        stroke-width: 10px;

        &.selected {
            stroke: $danger-color;
        }
    }
}
