
@import '../../styles/variables';

#Sidebar {
    background: $dark-blue;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: $sidebar-width;
    min-width: $sidebar-width;
    
    &.closed {
        min-width: calc(#{$large * 2} + #{$item-height});
        width: calc(#{$large * 2} + #{$item-height});
        max-width: calc(#{$large * 2} + #{$item-height});
        
        + #Viewport {
            margin-left: calc(#{$large * 2} + #{$item-height});
        }
    }
    
    #sidebar-header {
        background: $dark-blue;
        color: $off-white;
        font-family: 'Montserrat';
        font-size: $large;
        font-weight: bold;
        padding: 0 calc(#{$large} - 4px);
        height: $header-height;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $medium-gray;

        .logo {
            height: $item-height;
            min-height: $item-height;
            width: $item-height;
            min-width: $item-height;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        span {
            padding-left: $large;
        }
    }

    .DoubleArrow {
        position: absolute;
        top: $header-height;
        right: 0;
        height: $menu-height;
        width: $menu-height;
        // border-left: 1px solid $medium-gray;
        border-radius: 0;
        
        &:before {
            content: "";
            position: absolute;
            top: 0.5rem;
            left: 0;
            bottom: 0.5rem;
            border-left: 1px solid $medium-gray;
        }
    }

    .application-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            margin: $x-large;
            width: fill;

            button {
                width: fill;
            }

            + a {
                margin-top: -$x-small;
            }
        }
    }

    &.closed {
        #sidebar-header {
            border-bottom: none;
        }

        .DoubleArrow {
            z-index: 1;
            border: none;
            right: $base-size;

            &:before, &:after {
                border: none;
            }

            .arrow {
                transform: rotate(180deg);
            }
        }

        .application-links {
            display: none;
        }

        .NavMenu, span {
            opacity: 0;
        }
    }
}

#Viewport {
    margin-left: $sidebar-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $header-height;
    padding-bottom: $header-height * 4;
    
    > * {
        width: 90%;
        max-width: 80vw;
    }
}
