@import "../../../../../../styles/variables";

#SystemTree {
    display: flex;
    align-items: flex-start;

    .Tree {
        .Branch {
            .tree-item {
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                border-radius: $xx-small;
                height: $item-height;
                margin: 0 $x-small $small;
                padding: 0 $small;
                cursor: default;

                &.type-option {
                    background: $light-gray;
                }

                &.type-value {
                    background: none;
                    border: 1px solid $medium-gray;

                    &.default {
                        text-transform: uppercase;
                    }
                }

                &.subtype-systemdetail {
                    background: $dark-gray;
                    color: $off-white;
                    border-radius: $large;
                }

                &.type-systemconfiguration {
                    background: $medium-dark-gray;
                    color: white;
                }

                &.selected {
                    background: $selected-color;
                    border: none;
                    color: $off-white;
                }
            }
        }
    }

    &.with-partial-action {
        .Tree {
            .tree-item {
                &.available {
                    border-width: 2px;
                    font-weight: bold;
                }
            }
        }
    }
}
