
@import '../styles/variables';

.card {
    background: $off-white;
    border-top: $small solid $light-blue;
    padding: $large;
    padding-bottom: $xxxx-large;
}

.card, .card .nested, .card .GroupingBox {

    .TitleBar {
        margin-top: $xxxx-large;

        &:first-child {
            margin-top: 0;
        }
    }

    > * {
        margin-top: $large;
        
        &:first-child {
            margin-top: 0;
        }
        
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .label {
        color: $rule-color;
        + * {
            margin-top: $x-small;
        }
    }
}

.nested, .GroupingBox {
    padding: $x-small 0;
    margin: $xxxx-large 0 0;

    > * {
        margin-left: $large;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.nested {
    border-left: $small solid $selected-color;
    
    .nested {
        margin-top: $xxxx-large;
        border-left: none;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .GroupingBox {
        // margin-top: $large + $text-size / 2 !important;
    }
}

.disabled {
    opacity: 0.3;
}

.input-group {
    display: flex;
    > * {
        + * {
            margin-left: $small;
        }
    }
}

.unfinished {
    border: 2px solid red;
    padding: $small;
    position: relative;
    min-height: $item-height;

    &::before {
        content: "UNFINISHED";
        position: absolute;
        background: rgba(255, 0, 0, 0.75);
        top: 0;
        right: 0;
        padding: $x-small;
    }

    > * {
        opacity: 0.25;
    }
}
