@import "../styles/variables";
@import "../components/ui/CircleButton/CircleButton";

.card {
    background: $off-white;
    border-top: $x-small solid $light-blue;
    padding: $x-large;
    padding-bottom: $xxxxx-large;

    &.floating {
        position: absolute;
        left: 50%;
        top: 50vh;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;

        > * {
            width: 100%;

            input {
                width: 100%;
            }

            button {
                width: 100%;
            }
        }
    }
}

#viewport {
    .card {
        &.floating {
            width: fit-content;
            box-shadow: 0px 2px $x-small 1px rgba(74, 74, 74, 0.8);
            // width: 30vw;
            // max-width: 30vw;
            // min-width: 30vw;
        }
    }
}

.card,
.card .nested,
.GroupingBox,
.card .GroupingBox {
    .TitleBar {
        margin-top: $xxxxx-large;

        &:first-child {
            margin-top: 0;
        }
    }

    > * {
        &:not(:first-child) {
            margin-top: $x-large;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.label {
    color: $medium-gray;
    + * {
        margin-top: $x-small;
    }
}

.nested,
.GroupingBox {
    padding: $x-small 0;
    margin: $xxxx-large 0 0;

    > * {
        margin-left: $x-large;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.GroupingBox {
    > * {
        margin-right: $x-large;
    }
}

.nested {
    border-left: $small solid $selected-color;

    .nested {
        margin-top: $xxxx-large;
        border-left: none;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
    }

    &.disabled {
        // opacity: 0.3;
        opacity: 1;
        position: relative;
        &:after {
            position: absolute;
            top: -$small;
            left: -$small;
            right: 0;
            bottom: -$x-small;
            background: $off-white;
            // background: green;
            opacity: 0.7;
            content: "";
        }
        .nested {
            &.disabled {
                &:after {
                    background: none;
                }
            }
        }
    }

    .GroupingBox {
        // margin-top: $large + $text-size / 2 !important;
    }
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: $xxxx-large;

    .buttons-right,
    .buttons-left {
        display: flex;

        a {
            + a {
                margin-left: $small;
            }
        }
    }
}

.card {
    .bottom-buttons {
        margin-bottom: -$base-size;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.input-group {
    display: flex;
    align-items: flex-end;

    > * {
        + * {
            margin-left: $large;

            &.type-switch {
                margin-left: $xxxxx-large;
            }
        }
    }
}

.Sidebar,
.RightSidebar {
    .GroupingBox {
        width: fill;
        padding-bottom: $large;

        > * {
            &:not(:first-child) {
                margin-top: $base-size;
            }
            // margin-left: $base-size;
        }

        .title {
            background: $dark-blue;
            box-shadow: 0 0 0 $x-small $dark-blue;
            color: $medium-gray;
            font-weight: normal;
        }

        .toggle-background,
        .add-button-background {
            background: $dark-blue;
            .CircleButton {
                .circle-button {
                    height: $x-large;
                    width: $x-large;
                }
            }
        }

        .toggle-background {
        }

        .add-button-background {
            top: -$x-large / 2;
        }

        .input-group {
            > * {
                + * {
                    margin-left: $small;
                }
            }

            .Input {
                input,
                .Select {
                    width: $pill-width * 0.75;
                }
            }
        }

        .CircleButton {
            &.primary {
                @include circle-button($selected-color, $dark-blue);
            }

            &.action {
                @include circle-button($action-color, $dark-blue);
            }

            &.danger {
                @include circle-button($danger-color, $dark-blue);
            }
        }
    }
}

.unfinished {
    border: 2px solid red;
    padding: $small;
    position: relative;
    min-height: $item-height;

    &::before {
        content: "UNFINISHED";
        position: absolute;
        background: rgba(255, 0, 0, 0.75);
        top: -1px;
        right: -1px;
        padding: $x-small;
    }

    > * {
        opacity: 0.25;
    }
}
