@import "../../../styles/variables";

.Input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:focus-within,
    &:focus {
        input {
            box-shadow: 0 0 1px 1px $selected-color;
        }
        .Select {
            color: $dark-gray;
            box-shadow: 0 0 1px 1px $selected-color;

            input {
                box-shadow: none;
            }
        }
    }

    .label {
        .title {
            color: $dark-gray;
        }
    }

    &.light {
        .label {
            color: $light-gray;
        }
    }

    &.warning {
        pointer-events: none;
        > input,
        .Select > div:first-of-type {
            background: mix($warning-color, white, 25) !important;
        }

        > input,
        .Select > div {
            border-color: mix($warning-color, white, 75) !important;
        }
    }

    &.direction-row {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;

        input {
            margin-right: $base-size;
        }
    }

    &.type-checkbox {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        cursor: pointer;

        .label {
            margin: 0;
        }

        .check {
            margin-right: $x-small;
            height: $checkbox-height;
            width: $checkbox-height;
            background: $light-gray;
            border-radius: $xx-small;

            &:after {
                content: "";
                display: block;
                height: $checkbox-height / 3;
                width: $checkbox-height / 2;
                transform: rotate(-45deg) translate(0.5px, 4.5px);
                border-bottom: $icon-thickness solid $off-white;
                border-left: $icon-thickness solid $off-white;
                border-color: rgba(0, 0, 0, 0);
            }
        }

        input {
            margin: 0;
            padding: 0;

            &:checked {
                + .check {
                    background: $selected-color;
                    &:after {
                        border-color: $off-white;
                    }
                }
            }
        }

        &:hover {
            .check {
                &:after {
                    border-color: $dark-gray;
                }
            }

            input {
                &:checked {
                    + .check {
                        &:after {
                            border-color: rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
    }

    &.type-switch {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .track {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // height: $item-height;
            height: $xxx-large;
            // width: $item-height * 1.75;
            width: $xxx-large * 1.75;
            background: white;
            border: 1px solid $light-gray;
            // border-radius: $item-height / 2;
            border-radius: $xxx-large / 2;
            margin-right: $base-size;

            .switch {
                // height: calc(#{$item-height} - #{$x-small});
                height: calc(#{$xxx-large} - #{$x-small});
                // width: calc(#{$item-height} - #{$x-small});
                width: calc(#{$xxx-large} - #{$x-small});
                background: $light-gray;
                // border-radius: $item-height / 2;
                border-radius: $xxx-large / 2;
                margin: 2.5px;
                box-shadow: 2px 1px $xx-small rgba(74, 74, 74, 0.8);
            }
        }

        input {
            &:checked {
                + .track {
                    justify-content: flex-end;
                    // background: transparentize($selected-color, 0.75);
                    // background: $light-gray;
                    // background: none;

                    .switch {
                        background: $selected-color;
                        box-shadow: -2px 1px $xx-small rgba(74, 74, 74, 0.8);
                    }
                }
            }
        }

        &.light {
            input {
                &:checked {
                    + .track {
                        background: mix($selected-color, white, 50);
                    }
                }
            }
        }
    }

    &.type-icon {
        height: $xxx-large;
        width: $xxx-large;
        border: 1px solid $light-gray;
        border-radius: $xx-small;
        align-items: center;

        svg {
            width: $base-size;
            height: $base-size;
            max-width: $base-size;
            max-height: $base-size;

            .fill-dark-gray {
                fill: $dark-gray;
            }
        }

        &:hover {
            background: $light-gray;
        }

        &.checked {
            @include hoverable-background($selected-color);
            border: none;

            svg {
                .fill-dark-gray {
                    fill: $off-white;
                }
            }
        }
    }

    .Select {
        box-sizing: border-box;
        width: $pill-width;
        height: $item-height;
        height: $xxx-large;
        min-height: $xxx-large;
        max-height: $xxx-large;
        border-radius: $xx-small;

        > div {
            &:first-of-type {
                // height: $item-height;
                height: $xxx-large;
                min-height: $xxx-large;
                max-height: $xxx-large;
                border: 1px solid $light-gray;
                outline: none;
                box-shadow: none;

                > div {
                    height: $xxx-large;
                    min-height: $xxx-large;
                    max-height: $xxx-large;
                }
            }
        }
        svg {
            color: $medium-gray;
        }
        &:hover {
            svg {
                color: $dark-gray;
            }
        }
        div {
            span {
                display: none;
            }
        }

        &.multi {
            // min-width: $pill-width;
            width: stretch;
        }
    }
}
