
@import '../../../styles/variables';

.Input {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:focus-within, &:focus {
        input {
            box-shadow: 0 0 1px 1px $selected-color;
        }
        .Select {
            box-shadow: 0 0 1px 1px $selected-color;
            
            input {
                box-shadow: none;
            }
        }
    }
    
    &.type-checkbox {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: fit-content;
        cursor: pointer;
        
        .label {
            margin: 0;
        }
        
        .check {
            margin-right: $x-small;
            height: $checkbox-height;
            width: $checkbox-height;
            background: $pill-color;
            border-radius: $xx-small;
            
            &:after {
                content: "";
                display: block;
                height: $checkbox-height / 3;
                width: $checkbox-height / 2;
                transform: rotate(-45deg)  translate(0.5px, 4.5px);
                border-bottom: $icon-thickness solid $off-white;
                border-left: $icon-thickness solid $off-white;
                border-color: rgba(0, 0, 0, 0);
            }
        }
        
        
        input {
            margin: 0;
            padding: 0;
            
            &:checked {
                + .check {
                    background: $selected-color;
                    &:after {
                        border-color: $off-white;
                    }
                }
            }
        }
        
        &:hover {
            .check {
                &:after {
                    border-color: $dark-gray;
                }
            }
            
            input {
                &:checked {
                    + .check {
                        &:after {
                            border-color: rgba(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
    }

    &.type-switch {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .track {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: $item-height;
            width: $item-height * 1.75;
            background: none;
            border: 1px solid $dark-gray;
            border-radius: $item-height / 2;
            margin-right: $base-size;

            .switch {
                height: calc(#{$item-height} - #{$x-small});
                width: calc(#{$item-height} - #{$x-small});
                background: $pill-color;
                border-radius: $item-height / 2;
                margin: 2.5px;
                box-shadow: 2px 1px $xx-small rgba(74,74,74,.8);
            }
        }
        
        input {
            &:checked {
                + .track {
                    justify-content: flex-end;
                    
                    .switch {
                        background: $selected-color;
                        box-shadow: -2px 1px $xx-small rgba(74,74,74,.8);
                    }
                }
            }
        }
    }
    
    .Select {
        box-sizing: border-box;
        width: $pill-width;
        height: $item-height;
        border-radius: $xx-small;
        
        > div {
            &:first-of-type{
                height: $item-height;
                border: 1px solid $dark-gray;
                outline: none;
                box-shadow: none;
            }
        }
        svg {
            color: $rule-color;
        }
        &:hover {
            svg {
                color: $dark-gray;
            }
        }
        div {
            span {
                display: none;
            }
        }

        &.multi {
            // min-width: $pill-width;
            width: stretch;
        }
    }
}
