
@import '../../styles/variables';

.ListContainer {

    ul {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: -$large;

        > * {
            margin: 0 $large $large 0;
        }

        .Input {
            margin: 0 $small $large 0;
            + .AddButton {
                margin: 0 $small $large 0;
            }
        }
    }
}
