
@import '../../styles/variables';

.Dropdown {
    margin: 0;
    // padding: $small;
    // background: $light-gray; //Ray removed
    // color: $x-dark-gray; //Ray removed
    cursor: default;
    
    // &[open] {
    //     background: $med-gray;
    //     color: white;
    // }
    
    &.empty {
        summary::webkit-details-marker {
            display: none;
        }
    }

    .title {
        display: flex;
        align-items: center;
        
        .triangle {
            // margin: $x-small;
            width: 0;
            border-left: $small solid $off-white;
            border-bottom: $x-small solid rgba(0, 0, 0, 0);
            border-top: $x-small solid rgba(0, 0, 0, 0);
        }
    }

    &.open {
        color: red;
        .title {
            .triangle {
                transform: rotate(90deg);
            }
        }
    }
    
    summary {
        padding: 0 $small;
        height: $item-height; //HELP:
        display: flex;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        min-height: $item-height; //HELP:

        > div, > a {
            margin: 0;
            padding: $text-size / 2 $large; //Ray changed
            // height: $item-height;
            display: flex;
            align-items: center;
            width: stretch;
            color: inherit;
            text-decoration: none;
            &:hover {
                background: $menu-color;
            }
        }
    }
}
