
@import '../../../styles/variables';

.ButtonTile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: opacity 0.15s ease;
    
    .button {
        width: 67%;
        padding: 0 $small;

        + .button {
            margin-left: 0;
            margin-top: $small;
        }

        a {
            width: fill;
            height: fill;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
