
@import '../../../styles/variables';

.ApolloInputWrapper {
    margin-bottom: $large;

    .button-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: $large;

        button {
            margin: 0;
        }
    }
}
