
@import '../../../styles/variables';

.GroupingBox {
    position: relative;
    border: 1px solid $medium-gray;
    border-radius: $x-small;
    padding-bottom: $xx-large !important;
    width: stretch;
    
    // button {
    //     &:not(.danger) {
    //         background: $off-white;
    //     }
    // }
    
    .title {
        position: absolute;
        top: -$text-size / 2;
        left: $large;
        margin: 0;
        background: white;
        font-weight: bold;
        box-shadow: 0 0 0 $x-small white;
        // font-weight: bold;
    }

    .toggle-background, .add-button-background {
        position: absolute;
        right: $large - $x-small;
        margin: 0 !important;
        background: white;
        padding: 0 $xx-small;
        
        .CircleButton {
            .add-button {
                height: $xxx-large;
                width: $xxx-large;
            }
        }
        
        .Toggle {
            height: $x-large;
            max-height: $x-large;

            > button {
                height: $x-large;
                font-size: $x-large * .6;
            }
        }
    }
    
    .toggle-background {
        top: -$x-large / 2;
    }
    
    .add-button-background {
        top: -$xxx-large / 2;
    }

    &.disabled {
        opacity: 1;

        &:after {
            content: "";
            position: absolute;
            background: $off-white;
            opacity: 0.5;
            top: $large;
            bottom: $small;
            left: $small;
            right: $small;
        }
    }
}

.card {
    .GroupingBox {
        .title {
            font-weight: normal;
            background: $off-white;
            box-shadow: 0 0 0 $x-small $off-white;
        }
        .toggle-background, .add-button-background {
            background: $off-white;
        }
    }
}
        