
@import '../../../styles/variables';

.TabNavigator {
    display: flex;
    flex-direction: column;

    .tab-container {
        width: 100%;
        max-width: 70vw;
        background: $light-blue;
        display: flex;
        height: $menu-height;
        min-height: $menu-height;
        overflow: hidden;
        z-index: 1;
        
        .tab {
            padding: 0 $large;
            display: flex;
            align-items: center;
            background: none;
            
            + .tab {
                border-left: 1px solid $off-white;
            }
            
            &.current-tab {
                opacity: 1;
                background: $off-white;
                font-weight: bold;
            }

            &.disabled {
                opacity: 1;
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    .card {
        border: none;
        position: relative;
    }
}
