
@import '../../styles/variables';

#Sidebar {
    background: $menu-color; //Ray changed
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    #sidebar-header {
        background: $menu-color; //Ray changed
        color: $off-white; //Ray changed
        height: $header-height;
        display: flex;
        align-items: center;
        // padding: 0 $small; //Ray removed
        border-bottom: 1px solid $border-color;

        .logo { //Ray added
            height: 55%;
        }
    }
    .Dropdown, .item {
        background: $menu-color; //Ray changed
        color: $off-white; //Ray changed
        border-bottom: 1px solid $border-color;

        .selected {
            // font-weight: bold; //Ray removed
            color: $current-color; //Ray added
        }
    }
    .item {
        width: 100%;
        height: $menu-height;
        // min-height: $item-height; //HELP: Why do we need?
        display: flex;
        align-items: center;
        padding: 0 $small;
        // padding-left: 27px;
        // box-sizing: border-box; //HELP: Need no longer?
    }
    .selected {
        // background: $dark-gray; //Ray removed
        color: $off-white;
        background: $menu-open-color; //Ray added
    }
    
    .open {
        background: $menu-open-color; //Ray added
    }
    
    .closed {
        background: $menu-color; //Ray added
    }

}
