
@import '../../styles/variables';

#Sidebar {
    background: $menu-color;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    #sidebar-header {
        background: $menu-color;
        color: $off-white;
        font-family: 'Montserrat';
        font-size: $base-size * 1.25;
        padding: $large;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;

        .logo {
            height: $item-height;
            padding-right: $base-size;
            width: auto;
        }
    }
    .Dropdown, .item {
        background: $menu-color;
        color: $off-white;
        border-bottom: 1px solid $border-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: $menu-height;

        .selected {
            color: $current-color;
        }
    }
    .item, .title {
        width: 100%;
        height: $menu-height;
        padding: 0 $large * 2;
    }

    .Dropdown {
        .content {
            > a {
                padding-left: $large * 2;
            }
        }
    }

    .selected {
        color: $off-white;
        background: $menu-open-color;
    }
    
    .open {
        background: $menu-open-color;
    }
    
    .closed {
        background: $menu-color;
    }

}
