
// COLORS

$blue: #209CEE;
$light-gray: #CCCCCC;
$med-gray: #999999;
$dark-gray: #666666;
$x-dark-gray: #4A4A4A;

// SIZES

$x-small: 0.5rem;
$small: 0.75rem;
$med: 1rem;
$large: 1.25rem;
$x-large: 2.25rem;

$header-height: 75px;
$viewport-height: calc(100vh - 75px);
$sidebar-width: 17.5vw;
$viewport-width: calc(100vw - 17.5vw);

$item-height: 50px;

$pill-width: 240px;
