
@import './styles/variables';

#root {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: $dark-gray;
    
    #Sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: $sidebar-width;
        min-width: $sidebar-width;
        
        &.closed {
            min-width: calc(#{$large * 2} + #{$item-height});
            width: calc(#{$large * 2} + #{$item-height});
            max-width: calc(#{$large * 2} + #{$item-height});

            + #Viewport {
                margin-left: calc(#{$large * 2} + #{$item-height});
                width: calc(100vw - #{$large * 2} + #{$item-height});
            }
        }
    }
    
    #Viewport {
        width: calc(100vw - #{$sidebar-width});
        margin-left: $sidebar-width;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $header-height;
        padding-bottom: $header-height * 4;

        > * {
            width: 90%;
            max-width: 70vw;
        }
    }
}
    