
@import './styles/variables';

#root {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    #Viewport, #Sidebar {
        // position: fixed;
        // top: 0;
        // bottom: 0;
        height: 100vh;
    }
    
    #Sidebar {

        // left: 0;
        width: $sidebar-width;
        min-width: $sidebar-width;
        
        &.closed {
            min-width: calc(#{$large * 2} + #{$item-height});
            width: calc(#{$large * 2} + #{$item-height});
            max-width: calc(#{$large * 2} + #{$item-height});
        }
    }
    
    #Viewport {
        width: stretch;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: $header-height;

        .card {
            margin-bottom: $header-height * 4;
        }

        > * {
            width: 90%;
            max-width: 70vw;
        }
    }
}
