
@import '../../variables';

#Sidebar {
    background: $light-gray;
    header {
        background: $med-gray;
        color: $x-dark-gray;
        height: $item-height;
        display: flex;
        align-items: center;
        padding: 0 $small;
    }
    .Dropdown {
        background: $med-gray;
        color: white;
    }
    .selected {
        background: $dark-gray;
        color: white;
    }
}
