@import "../../styles/variables";

#Practice {
    width: fit-content;
    max-width: fit-content;

    .Tree {
        .Branch {
            .tree-item {
                > * {
                    // border-top-right-radius: 100px;
                    // border-top-left-radius: 100px;
                    // border-bottom-right-radius: 0;
                    // border-bottom-left-radius: 0;

                    &.type-option {
                        background: transparentize($light-gray, 0.5);
                        //     // background: $dark-gray;
                        //     // color: $off-white;
                        //     color: $dark-gray;
                        //     // border-radius: 5px;
                        //     // border-bottom: 2px solid $dark-gray;
                    }

                    &.type-value {
                        //     border: 2px solid $dark-gray;
                        //     border-bottom: none;
                        //     margin: 0 -1px;
                        //     margin-bottom: 10px;
                        //     // background: $light-gray;
                        //     color: $dark-gray;
                        //     // border-radius: 5px;
                    }

                    &.type-detail {
                        background: transparentize($light-blue, 0.5);
                        //     // background: $light-blue;
                        //     // background: $logo-blue;
                        //     // border-radius: 100px;
                        //     color: $dark-gray;
                        //     // color: $off-white;
                    }
                    
                    &.type-detail-option {
                        background: transparentize($light-gray, 0.5);
                        //     // background: $dark-gray;
                        //     // color: $off-white;
                        //     color: $dark-gray;
                        //     // border-radius: 5px;
                        //     // border-bottom: 2px solid $dark-gray;
                    }
                    
                    &.type-detail-option-value {
                        //     border: 2px solid $dark-gray;
                        //     border-bottom: none;
                        //     margin: 0 -1px;
                        //     margin-bottom: 10px;
                        //     // background: $light-gray;
                        //     color: $dark-gray;
                        //     // border-radius: 5px;
                    }
                    
                    &.type-configuration {
                        background: transparentize($light-blue, 0.75);
                        //     // background: transparentize($light-blue, 0.5);
                        //     // background: $light-blue;
                        //     color: $dark-gray;
                        //     // border-radius: 100px;
                    }

                    &.type-configuration-option {
                        background: transparentize($light-gray, 0.5);
                        //     // background: $dark-gray;
                        //     // color: $off-white;
                        //     color: $dark-gray;
                        //     // border-radius: 5px;
                        //     // border-bottom: 2px solid $dark-gray;
                    }

                    &.type-configuration-option-value {
                        //     border: 2px solid $dark-gray;
                        //     border-bottom: none;
                        //     margin: 0 -1px;
                        //     margin-bottom: 10px;
                        //     // background: $light-gray;
                        //     color: $dark-gray;
                        //     // border-radius: 5px;
                    }
                }
            }
        }
    }
}
