
@import '../../../styles/variables';


.TitleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $xxx-large;
    min-height: $xxx-large;
    font-size: $x-large;
    margin-bottom: $small;
    
    .title-bar-left {
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .title-bar-right, .title-bar-left .left {
        display: flex;
        align-items: center;
        
        > * {
            margin-left: $large;
        }
    }

    &.blue-border {
        box-sizing: unset;
        padding-bottom: $small;
        border-bottom: $x-small solid $light-blue;
        margin-bottom: $xxxxx-large;
    }
}

.card {
    .TitleBar {
        height: auto;
        min-height: auto;
        font-size: $large;
        margin-bottom: $large;
        border-bottom: 1px solid $medium-gray;
        // border-bottom: 1px solid transparentize($dark-blue, 0.5);
        color: white;
        
        .title-bar-left {
            position: relative;
            height: $item-height;
            min-width: 30%;
            background: $medium-gray;
            // background: transparentize($dark-blue, 0.5);
            padding: 0 $small;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .title {
                font-weight: bold;
            }
        }
    }
}
