
@import '../../../../../../styles/variables';

#InteractiveElevation {
    display: flex;
    justify-content: center;
    align-items: center;
    
    svg {
        height: 100%;
        width: 100%;
    }
}
