
@import '../../../styles/variables';

.TitleBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: $x-small;
    margin-bottom: $large;

    .title-bar-title {
        display: flex;
        
        span {
            display: flex;
        }
    }
}

.card {
    .TitleBar {
        font-size: $large;
        border-bottom: 1px solid $border-color;
    }
}
