@import "../../../../../styles/variables";

.ElevationPreview {
    svg {
        // stroke: $dark-gray;
        background-color: transparent;
        transform: scaleY(-1);

        rect {
            // stroke: $dark-gray;

            &.frame {
                fill: $dark-gray;

                &.horizontal {
                    fill: $medium-gray;
                }
            }

            &.container {
                fill: transparentize(mix($light-blue, white), 0.3);

                &.custom-rough-opening {
                    fill: transparentize($light-gray, 0.5);
                }
            }
        }

        text {
            font-size: $x-small;
        }

        path {
            &.finished-floor {
                stroke: $dark-gray;

                stroke-width: 2px;
            }
        }
    }
}

.Pill {
    .ElevationPreview {
        height: fill;
        width: fill;
        padding: $large $x-small;
        display: flex;
        align-items: flex-end;

        svg {
            height: auto;
            // height: fit-content;
            width: fit-content;
            max-width: 100%;
            max-height: 100%;

            display: flex;
            align-items: flex-end;

            // .container {
            //     fill: $off-white;
            // }
        }
    }

    &:hover {
        .ElevationPreview {
            opacity: 0;
        }
    }
}

.GroupingBox {
    .ElevationPreview {
        svg {
            height: $pill-width;
            rect {
                stroke: $medium-gray;
                &.frame {
                    fill: $medium-gray;
                }
            }
        }
    }
}
